/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile Generale */

body {
    width: 512px;
}

/* Utility Class */

.text-center{
    text-align: center;
}

/* Intestazione */

.header{
    border-bottom: 3px solid black;
    padding: 10px;
    text-align: center;
}

/* Main */

.main-container{
    /* padding: 10px 25px; */
}

/* Sezione articolo */

.card{
    border: 3px solid black;
    margin: 15px 40px; /*si può fare cosi per dare spazio oppure mettere il padding al contenitore della card */
    padding: 20px 20px;
    min-height: 150px;
    overflow: auto; /* in questo modo se il testo va fuori dalla card uscirà una scroll bar altrimenti terrà il contenuto in questo modo */
    /* overflow-y: ; */
    /* overflow-x: ; */

/* footer */

footer{
    border-top: 3px solid black;
    padding: 10px; 
}
