/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* impostazione base */

body {
    width: 512px;
}

/* Intestazione */

header{
    border-bottom: 3px;
    border-bottom-style: solid;
    border-color: black;
}